
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
/*header*/
.encabezado{
    width: 100%;
    position: relative;
    font-size: 13px;
    background-color: #D12127;
    padding: 8px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    padding-left: 30px;
    padding-bottom: 30px;
    width: 18%;
}
.trip,.opciones,header li, .buscar{
    display: inline-block;
}
.opciones{
    position: absolute;
    right: 50px;
}
header li{
    margin: 0 0 0 20px;
    color: #ffffff;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: white;
    text-decoration: underline;
}
.contenido{
    position: relative;
    padding-top:10px ;
    background: #D12127;
}
.buscar{
    position: absolute;
    padding: 5px;
    color: #333;
    right: 80px;
}
.buscar input{ padding: 20px;


    width: 250px;
    height: 30px;
    color: #000;
    outline: none;
}
.btn{
    position: absolute;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;

}
.btn i{
    text-align: center;
    color: rgb(160, 160, 160);
    margin-top: 7px;
    font-size: 20px;
    cursor: context-menu;
}
.btn i:hover{
    color: #000;
    cursor: pointer;
}
.btn-cart a{
    text-align: center;
    top: 0px;
}
.btn-cart{
    position: absolute;
    margin-top: 2px;
    right: 35px;
    display: inline;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
/*nav*/
.nav li a{
    font-size: 15px;
    background: #F8F9F9;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-family: 'Lato', sans-serif;
}

.nav > li{
    float: left;
}
nav ul{
    list-style: none;
}
.nav li ul{
    z-index: 1;
    display: none;
    position:absolute;
}
.nav li:hover >ul{
    display: block;
}
.nav li> a:hover{
    background-color: #E5E7E9 ;
}
#btp{
    color: #5D6D7E ;
    width: 100%;
    font-weight: bold;
}
#btp:hover{
    background-color: #fff;
    color: #000;
}
.conteiner-nav{
    background-color: #F8F9F9;
    padding: 2px 0px;
}
/*Etiquetas de promociones*/
.ctn-promociones{
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    font-weight: bolder;
    font-size: 13px;
}
.ctn-promociones a {
    color: #fff;
    text-decoration: none;
}
/* Slider de imagenes principales*/
.slider{
    width: 92%;
    margin: auto;
    overflow: hidden;
}
.slider_images{
    top: 20px;
    position: relative;
    left: 0px;
    transition: all .5s;
}
.slider_navigation{
    position: relative;
    bottom: 25px;
    height: 20px;
    width: 10%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

.slider-nav{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: #D6D6D6 ;
    border-radius: 50%;
}
.slider-nav:hover{
    background-color: #000;
}
.slider-nav-active{
    background-color: #000;
}
.ctn-novedades h1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

/* Slider de modelos de zatillas*/
.slider-mod{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider_images_modelos{
    width: 100%;
    top: 20px;
    position: relative;
    left: 0px;
    transition: all .5s;
}
.slider_zapatillas{
    height: 20px;
    width: 100%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    
}
.slider-zap{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: #D6D6D6 ;
    border-radius: 50%;

}
.slider-zap:hover{
    background-color: #000;
}
.slider-zap-active{
    background-color: #000;
}
.zap-mod{
    width: 2.5%;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
}
.zap-mod a{
    color: #000;
    text-decoration: none;
}
.zap-mod a:hover{
    color: #000;
    text-decoration: underline;
}
/*Banners*/
.banner{
    width: 100%;
    display: block;
    margin-top: 40px;
}
.banner div{
    margin-left: 50px;
}
.banner img{
    margin: 0 auto;
    width: 47%;
    margin-right: 25px;
}
/*    border: 3px solid saddlebrown;*/
/*Marcas*/
.slider-marcas{
    width: 92%;
    margin: auto;
    overflow: hidden;
}
.slider_images_marcas{
    height: 120px;
    top: 20px;
    position: relative;
    left: 0px;
    transition: all .5s;

}
.slider_navigation_marcas{
    position: relative;
    bottom: 25px;
    height: 20px;
    width: 10%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

.slider-nav-marcas{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: #D6D6D6 ;
    border-radius: 50%;
}
.slider-nav-marcas:hover{
    background-color: #000;
}
.slider-nav-marcas-active{
    background-color: #000;
}
.slider_img_marcas{
    padding: 20px 20px;
    margin-left: 20px;
}
